@{ Layout = null; }
@using WebApplicationMVCTask1.Models;

@{
    ViewBag.Title = "StudentList";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/css/Stylesheet.css" rel="stylesheet" />


</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <img src="~/Images/logo.jpg" style="width:7%;" />

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left:4%;">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("RoleList","MainBody")">Role Master</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("DepartmentList","MainBody")">Department Master</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("StudentList","MainBody")">Student Master</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="margin-left:720px;" href="@Url.Action("Login","Login")">Logout</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <br /><br />

        <h2 style="color: #19234F;margin-left:25%;"><b>Student Master List</b></h2>
        <p style="color: #19234F;margin-left:25%;">
            @Html.ActionLink("Create New", "StudentMaster")
        </p>
        <table style="width:100%;">
            <thead>
                <tr>
                    <th>Student Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Session</th>
                    <th>Email</th>
                    <th>Contact No.</th>
                    <th>Created Date</th>
                    <th>Is Active</th>
                    <th>Is Deleted</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model as List<StudentUser>)
                {
                    <tr>
                        <td>@item.StudentId</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Session</td>
                        <td>@item.Email</td>
                        <td>@item.ContactNo</td>
                        <td>@item.CreatedDate.ToShortDateString()</td>
                        <td>@item.IsActive</td>
                        <td>@item.IsDeleted</td>
                      
                        <td> @Html.ActionLink("Edit", "GetStudentbyId", new { StudentId = item.StudentId }, new { @class = "btn btn-primary" })</td>
                     
                        <td><button onclick="deletefn(@item.StudentId)">Delete</button></td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

</body>
</html>



<script>
    function deletefn(StudentId) {
        debugger;
        console.log(StudentId);
        console.log("btnClick");
        var a = confirm("Sure You Want to Delete The data..!!");
        if (a == true) {
            $.ajax({
                url: "/MainBody/DeleteStudent?StudentId=" + StudentId,
            
                type: "POST",
              
                success: function (data) {
                    alert("Data Deleted Successfully...!!");
                    location.reload();
                },
                error: function (err) {
                    console.error(err.message);
                    return;
                },
            });
        }
    }
</script>





<script>

        function fnDeleteStudentDetails(id) {

            $.ajax({
            url: "/Student/DeleteStudent",
            method: "POST",
                data: {id: id},
            async:false,
            success: function (data)
            {
                if (data.status = true) {
                    alert(data.message);
                }
                else
                {
                    alert(data.message);
                }



                setTimeout(function () {
                    window.location.href= '@Url.Action("Index","Student")';
                }, 3000)
            },
                error: function (err) {
                alert('Oops! Something went wrong. Please try again');
                return false;
            }
        })


        }
</script>

